* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #696969;
    --sec-color: blueviolet;
    --bg-color: #f1f1f1f1;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 85px;
    padding-right: 85px;
}

/* start first nav */
header .first-nav {
    padding-left: 85px;
    padding-right: 85px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header .first-nav .search-bar {
    width: 200px;
    display: flex;
    align-items: center;
}

header .first-nav .search-bar i {
    color: var(--main-color);
    font-size: 13px;
}

header .first-nav .search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 20px;
    color: var(--main-color);
    font-size: 14px;
    transition: 0.4s;
}

header .first-nav .search-bar input:focus {
    padding-left: 10px;
}

header .first-nav .name h2 {
    padding: 4px;
    border: 3px solid black;
    color: var(--main-color);
    font-size: 20px;
    margin-right: 105px;
}

header .first-nav .icons i {
    padding-right: 15px;
    color: var(--main-color);
    transition: 0.2s;
}

header .first-nav .icons i:hover {
    color: black;
    cursor: pointer;
}

/* end first nav */

/* start second nav */
header .second-nav ul {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .second-nav ul li a {
    color: var(--main-color);
    padding: 5px 24px;
    font-size: 14px;
    transition: 0.3s;
}

header .second-nav ul li a:hover {
    color: var(--sec-color);
}

/* end second nav */

/* start third nav */
header .third {
    background-color: var(--bg-color);
    padding-left: 85px;
    padding-right: 85px;
    height: 50px;
    display: flex;
    align-items: center;
}

header .third span {
    color: var(--sec-color);
}

/* end third nav */

/* start check */
.check {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ccc;
}

.check .head {
    color: var(--main-color);
    border: 1px solid #ccc;
    padding: 25px 15px;
}

.check .content {
    display: flex;
}

.check .content .left h2 {
    margin-top: 30px;
}

.check .content .left .content-left {
    color: var(--main-color);
    margin-top: 8px;
    padding: 60px 45px 50px;
    border: 1px solid #ccc;
}

.check .content .left .content-left .select {
    font-size: 14px;
    width: 497px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px 16px;
    margin-top: 12px;
    color: var(--main-color);
}

.check .content .left .content-left .name {
    color: var(--main-color);
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.check .content .left .content-left .name input {
    width: 240px;
    height: 40px;
    margin-top: 14px;
    outline: none;
}

.check .content .left .content-left .company {
    margin-top: 14px;
}

.check .content .left .content-left .company input {
    margin-top: 12px;
    width: 100%;
    height: 34px;
    outline: none;
}

.check .content .left .content-left .adress {
    margin-top: 14px;
}

.check .content .left .content-left .adress input {
    margin-top: 12px;
    width: 100%;
    padding: 8px;
    outline: none;
    color: var(--main-color);
    font-size: 14px;
}

.check .content .left .content-left .state {
    color: var(--main-color);
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.check .content .left .content-left .state input {
    width: 240px;
    height: 40px;
    margin-top: 14px;
    outline: none;
}

.check .content .left .content-left .identify {
    color: var(--main-color);
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.check .content .left .content-left .identify input {
    width: 240px;
    height: 40px;
    margin-top: 14px;
    outline: none;
    padding-left: 8px;
    font-size: 14px;
}

.check .content .left .content-left {
    margin-top: 40px;
}

.check .content .left .content-left .checkbox div {
    margin-top: 30px;
}

.check .content .left .content-left .text h4 {
    padding-bottom: 10px;
}

.check .content .right {
    margin-left: 30px;
    flex: 1;
}

.check .content .right .content-right .top {
    padding: 60px 45px;
    border: 1px solid #ccc;
    margin-top: 40px;
}

.check .content .right .content-right .code {
    margin-top: 20px;
    display: flex;
}

.check .content .right .content-right .code input {
    padding: 6px;
    outline: none;
    color: var(--main-color);
    font-size: 14px;
    width: 220px;
}

.check .content .right .content-right .code button {
    cursor: pointer;
    border: none;
    background-color: var(--sec-color);
    padding: 12px 20px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: 12px;
}

.check .content .right .content-right .code button:hover {
    background-color: #6700cf;
    box-shadow: 0 4px 8px var(--sec-color);
}

.check .content .right h2 {
    margin-top: 30px;
}

.check .content .right .adv {
    margin-top: 60px;
}

.check .content .right .bottom {
    margin-top: 8px;
    padding: 60px 45px;
    border: 1px solid #ccc;
}

.check .content .right .bottom .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    position: relative;
}

.check .content .right .bottom .row .active {
    color: var(--main-color);
}

.check .content .right .bottom .collect {
    position: relative;
    right: 95px;
}

.check .content .right .bottom .row::after {
    content: "";
    position: absolute;
    width: 580px;
    height: 1px;
    left: -10px;
    bottom: 14px;
    background-color: #ccc;
}

.choose {
    margin-top: 20px;
}

.choose p {
    cursor: pointer;
    color: var(--sec-color);
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

.place {
    cursor: pointer;
    border: none;
    background-color: var(--sec-color);
    padding: 16px 20px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: 12px;
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
}

.place:hover {
    background-color: #6700cf;
    box-shadow: 0 4px 8px var(--sec-color);
}

/* end check */

/* start footer */
.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-footer .container .footer-title {
    visibility: hidden;
}

.main-footer .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 35px;
}

.main-footer .container h3 {
    font-size: 20px;
    margin-bottom: 23px;
    font-weight: 700;
}

.main-footer .container .list li {
    color: var(--main-color);
    margin-bottom: 18px;
}

.main-footer .container .col-4 img {
    width: 100px;
}

.main-footer .container .col-4 .image {
    background-color: aqua;
    border-radius: 6px;
    height: 95px;
    display: flex;
    align-items: center;
}

.main-footer .container .col-4 h2 {
    color: var(--sec-color);
    margin-top: 18px;
    font-size: 15px;
    font-weight: 500;
}

.main-footer .container .col-4 p {
    color: var(--main-color);
    line-height: 1.6;
}

.main-footer .container .form div {
    display: flex;
    margin-bottom: 18px;
}

.main-footer .container .form div i {
    color: var(--sec-color);
    padding-right: 14px;
}

.main-footer .container .form div p {
    margin-top: -3px;
    font-size: 14px;
}

.main-footer .container .form div .tele {
    color: var(--main-color);
}

.main-footer .container .form h4 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 8px;
}

.main-footer .container .form input {
    padding: 8px;
    color: var(--main-color);
    font-weight: bold;
    outline: none;
}

.main-footer .container .form .submit button {
    cursor: pointer;
    border: none;
    background-color: var(--sec-color);
    padding: 12px 20px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: 12px;
}

.main-footer .container .form .submit button:hover {
    background-color: #6700cf;
    box-shadow: 0 4px 8px var(--sec-color);
}

.end {
    padding: 80px 0 40px;
    text-align: center;
    color: var(--main-color);
}

.end span {
    color: var(--sec-color);
    font-size: 18px;
}

/* end footer */