* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #696969;
    --sec-color: blueviolet;
    --bg-color: #f1f1f1f1;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 85px;
    padding-right: 85px;
}

/* start first nav */
header .first-nav {
    padding-left: 85px;
    padding-right: 85px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header .first-nav .search-bar {
    width: 200px;
    display: flex;
    align-items: center;
}

header .first-nav .search-bar i {
    color: var(--main-color);
    font-size: 13px;
}

header .first-nav .search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 20px;
    color: var(--main-color);
    font-size: 14px;
    transition: 0.4s;
}

header .first-nav .search-bar input:focus {
    padding-left: 10px;
}

header .first-nav .name h2 {
    padding: 4px;
    border: 3px solid black;
    color: var(--main-color);
    font-size: 20px;
    margin-right: 105px;
}

header .first-nav .icons i {
    padding-right: 15px;
    color: var(--main-color);
    transition: 0.2s;
}

header .first-nav .icons i:hover {
    color: black;
    cursor: pointer;
}

/* end first nav */

/* start second nav */
header .second-nav ul {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .second-nav ul li a {
    color: var(--main-color);
    padding: 5px 24px;
    font-size: 14px;
    transition: 0.3s;
}

header .second-nav .links .active {
    color: var(--sec-color);
}

header .second-nav ul li a:hover {
    color: var(--sec-color);
}

/* end second nav */

/* start third nav */
header .third {
    background-color: var(--bg-color);
    padding-left: 85px;
    padding-right: 85px;
    height: 50px;
    display: flex;
    align-items: center;
}

header .third span {
    color: var(--sec-color);
}

/* end third nav */

/* start big section */
section {
    padding-top: 60px;
    padding-bottom: 60px;
}

section .container .left {
    width: 22%;
}

section .container .left .top {
    padding: 15px 15px 22px;
    border: 1px solid #ccc;
}

section .container .left .top h4 {
    font-size: 15px;
}

section .container .left .top .content {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    line-height: 2;
}

section .container .left .top .content .left-content {
    color: var(--main-color);
}

section .container .left .top .content .left-content h5 {
    font-size: 14px;
}

section .container .left .bottom {
    padding: 15px 15px 22px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.bottom .span {
    width: 100%;
    height: 8px;
    border-radius: 8px;
    border: 2px solid var(--main-color);
    background-color: transparent;
    margin-top: 16px;
    background-image: linear-gradient(to right, white 16%, purple 16%, purple 55%, white 55%);
    position: relative;
}

.bottom .price {
    margin-top: 12px;
    color: var(--main-color);
    font-size: 15px;
}

.bottom .span::before {
    content: "";
    position: absolute;
    left: 24px;
    top: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: purple;
}

.bottom .span::after {
    content: "";
    position: absolute;
    left: 127px;
    top: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: purple;
}

section .container .left .bottom h4 {
    font-size: 15px;
}

section .container .left .bottom .size {
    padding-top: 38px;
    padding-bottom: 20px;
}

section .container .left .bottom .size h5 {
    font-size: 15px;
}

section .container .left .bottom .size .ch {
    margin-bottom: -20px;
    margin-top: 15px;
    color: var(--main-color);
}

section .container .left .bottom .color {
    padding-top: 34px;
    padding-bottom: 20px;
}

section .container .left .bottom .color h5 {
    font-size: 15px;
}

section .container .left .bottom .color .select {
    padding-top: 20px;
    padding-left: 22px;
}

section .container .left .bottom .color .select p {
    padding: 3px;
}

section .container .left .bottom .color .select .red,
section .container .left .bottom .color .select .green,
section .container .left .bottom .color .select .blue,
section .container .left .bottom .color .select .purple {
    position: relative;
}

section .container .left .bottom .color .select .red::before {
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: red;
}

section .container .left .bottom .color .select .green::before {
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: green;
}

section .container .left .bottom .color .select .blue::before {
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: blue;
}

section .container .left .bottom .color .select .purple::before {
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: purple;
}

section .container {
    display: flex;
}

section .container .right {
    width: 78%;
    margin-left: 2%;
}

section .container .right .head {
    display: flex;
    justify-content: space-between;
}

section .container .right .head .right-side {
    display: flex;
}

section .container .right .head .right-side button {
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

section .container .right .head .right-side .lat button {
    margin-right: 6px;
}

section .container .right .head .right-side .lat .list {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    width: 150px;
    height: 100px;
    padding: 12px 14px;
    font-size: 14px;
    display: none;
    position: absolute;
}

section .container .right .head .right-side .lat:hover ul {
    display: block;
}

section .container .right .head .right-side .list li {
    padding: 5px;
}

section .container .right .head .right-side .ref .list {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    width: 150px;
    height: 194px;
    padding: 12px 14px;
    font-size: 14px;
    display: none;
    position: absolute;
}

section .container .right .head .right-side .ref:hover ul {
    display: block;
}

/* section .container .right .head .right-side .ref .list .active {
    border-bottom: 1px solid #ccc;
    width: 100%;
} */















section .container .right .head .right-side button:hover {
    color: white;
    background-color: rgb(74, 71, 71);
    box-shadow: inset 3px -3px 5px 6px 2px black;
}

section .container .right .content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.right .content .col img {
    width: 100%;
    height: 58%;
}

.right .content .col {
    width: 320px;
    height: 350px;
    border: 1px solid #ccc;
}

.right .content .col .details {
    text-align: center;
    padding: 30px;
}

.right .content .col .details p {
    padding: 10px;
    color: var(--main-color);
    font-size: 14px;
}

.right .content .col .details h5 {
    color: #551abb;
    font-size: 14px;
}

.right .numbers {
    text-align: center;
    margin-top: 80px;
}

.right .numbers span {
    margin: 2px;
    padding: 12px;
    width: 20px;
    height: 20px;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
    transition: 0.4s;
}

.right .numbers span:hover {
    color: white;
    background-color: var(--sec-color);
}

.right .numbers .active {
    color: white;
    background-color: var(--sec-color);
}

/* end big section */

/* start second section */
.second-sec {
    border-bottom: 1px solid #ccc;
}

.second-sec .head {
    margin-top: 30px;
}

.second-sec hr {
    width: 3%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-color: var(--sec-color);
}

.second-sec h2 {
    text-align: center;
    padding: 20px 0 30px;
}

.second-sec .container {
    margin-top: -30px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

.second-sec img {
    width: 400px;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    filter: brightness(0.8);
}

.second-sec img:hover {
    transform: scale(1.1);
}

.second-sec .img {
    overflow: hidden;
    width: 400px;
}

.second-sec .text {
    position: relative;
    left: 10px;
    bottom: 63px;
    color: white;
}

.second-sec h1 {
    font-size: 30px;
}

/* end second section */

/* start footer */
.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-footer .container .footer-title {
    visibility: hidden;
}

.main-footer .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 35px;
}

.main-footer .container h3 {
    font-size: 20px;
    margin-bottom: 23px;
    font-weight: 700;
}

.main-footer .container .list li {
    color: var(--main-color);
    margin-bottom: 18px;
}

.main-footer .container .col-4 img {
    width: 100px;
}

.main-footer .container .col-4 .image {
    background-color: aqua;
    border-radius: 6px;
    height: 95px;
    display: flex;
    align-items: center;
}

.main-footer .container .col-4 h2 {
    color: var(--sec-color);
    margin-top: 18px;
    font-size: 15px;
    font-weight: 500;
}

.main-footer .container .col-4 p {
    color: var(--main-color);
    line-height: 1.6;
}

.main-footer .container .form div {
    display: flex;
    margin-bottom: 18px;
}

.main-footer .container .form div i {
    color: var(--sec-color);
    padding-right: 14px;
}

.main-footer .container .form div p {
    margin-top: -3px;
    font-size: 14px;
}

.main-footer .container .form div .tele {
    color: var(--main-color);
}

.main-footer .container .form h4 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 8px;
}

.main-footer .container .form input {
    padding: 8px;
    color: var(--main-color);
    font-weight: bold;
    outline: none;
}

.main-footer .container .form .submit button {
    cursor: pointer;
    border: none;
    background-color: var(--sec-color);
    padding: 12px 20px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: 12px;
}

.main-footer .container .form .submit button:hover {
    background-color: #6700cf;
    box-shadow: 0 4px 8px var(--sec-color);
}

.end {
    padding: 80px 0 40px;
    text-align: center;
    color: var(--main-color);
}

.end span {
    color: var(--sec-color);
    font-size: 18px;
}

/* end footer */